
.container {
	width: 500px;
	height: 100%;
}

.one {
	background-color: #ccf;
}

.two {
	background-color: #fcc;
}

.three {
	background-color: #cfc;
}

.four {
	background-color: #fcccfc;
}

.five {
	background-color: #ccfccf;
}
