/* .jade-deleteProposalDialog-proposalWidget {} */

/* .jade-deleteProposalDialog-submitBtn {} */

/* .jade-deleteProposalDialog-cancelBtn {} */

/* .jade-deleteProposalDialog-commentBox {} */

/* .jade-deleteProposalDialog-commentForm {} */

.jade-deleteProposalDialog-panel {
	margin-bottom: 10%;
}
