/* .jade-deleteEndorsementDialog-proposalWidget {} */

/* .jade-deleteEndorsementDialog-endorsementWidget {} */

.jade-deleteEndorsementDialog-submitBtn {
	margin-right: 0.1px;
}

/* .jade-deleteEndorsementDialog-cancelBtn {} */

/* .jade-deleteEndorsementDialog-commentBox {} */

/* .jade-deleteEndorsementDialog-commentForm {} */

.jade-deleteEndorsementDialog-commentForm-buttons {
	text-align: right;
}

/* .jade-deleteEndorsementDialog-errorMessage {} */
