/* .jade-deleteEndorsementDialog-proposalWidget {} */

/* .jade-deleteEndorsementDialog-endorsementWidget {} */

/* .jade-deleteEndorsementDialog-submitBtn {} */

/* .jade-deleteEndorsementDialog-cancelBtn {} */

/* .jade-deleteEndorsementDialog-commentBox {} */

/* .jade-deleteEndorsementDialog-commentForm {} */

/* .jade-deleteEndorsementDialog-errorMessage {} */
