/* .jade-endorseDialog-proposalWidget {} */

.jade-endorseDialog-submitBtn {
	margin-right: 0.1px;
}

/* .jade-endorseDialog-cancelBtn {} */

/* .jade-endorseDialog-commentBox {} */

/* .jade-endorseDialog-commentForm {} */

.jade-endorseDialog-errorMessage {
	text-align: left;
}
