.jade-promoteDialog-proposalWidget {}
.jade-promoteDialog-submitBtn {}
.jade-promoteDialog-cancelBtn {}
.jade-promoteDialog-commentForm {}
.jade-promoteDialog-commentBox {}
.jade-promoteDialog-errorMessage {}
