.jade-facetWidget-header-collapseBtn,
.jade-facetWidget-header-expandBtn {
	position: absolute;
	right: 15px;
	top: -3px;
}

/* .jade-facetWidget-header-facetLabel {} */

/* .jade-facetWidget-header {} */

.jade-facetWidget {
	width: 50%;
}

@media only screen
	and ( max-width: 600px ) {
	.jade-facetWidget {
		width: 100%;
	}
}
