__NOTOC__
{{# judgments }}== {{ value }}{{# preferred }} *{{/ preferred }} ==
{{ notes }}
{{# hasEndorsements }}
=== Endorsements ===
{| class="wikitable"
! User
! Endorsement
{{# endorsements }}
|-
| {{ user }}
| {{ comment }}
{{/ endorsements }}
|}
{{/ hasEndorsements }}

{{/ judgments }}
